.Calculator{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF99CC;
    width: 295px;
    height: 350px;
    border-radius: 15px;
}


#result {
    display: block;
    font-size: 50px;
    margin-bottom: 45px;
    width: 250px;
    height: 85px;
    line-height: 85px;
    background-color:aliceblue;
    border-radius: 20px;
    text-align: center;
}

.Calculator td button {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 23px;
}